<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
</head>
<body>
  <h2>列表</h2>
  <hr>

    <table border="1">
        <tr>
            <td>图书ID</td><td>名称</td><td>价格</td><td>数量</td><td>是否上架</td><td>操作</td>
        </tr>
        {foreach $list as $k=>$v}
            <tr>
                <td>{$v.id}</td>
                <td>{$v.book_name}</td>
                <td>{$v.book_price}</td>
                <td>{$v.book_num}</td>
                <td>
                    {if $v.is_onsale}
                        是
                    {else}
                        否
                    {/if}
                </td>
                <td><a href="/book/delete/{$v.id}">删除</a> <a href="">修改</a></td>
            </tr>
        {/foreach}
    </table>

</body>
</html>
